[submodule "wtwt-front-end"]
	path = wtwt-front-end
	url = https://github.com/ElJohnnie/wtwt-front-end
[submodule "wtwt-back-end"]
	path = wtwt-back-end
	url = https://github.com/ElJohnnie/wtwt-back-end
[submodule "wtwt-kmeans-algorithm"]
	path = wtwt-kmeans-algorithm
	url = https://github.com/ElJohnnie/wtwt-kmeans-algorithm
